html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family:"w3-container w3-cursive";
  src: url("w3-container w3-cursive");
}

canvas {
  display: block;
}

.gameTitle{
  width: 85%;
  height: 160px;
}

.gameTitleAfterEffect{
  width: 25%;
  height: 80px;
}

.greeting{
  font-size: 40px;
  color: rgb(230, 255, 4);
  font-family: "w3-container w3-cursive";
  text-align: center;
}
.greetingsmall{
  font-size: 20px;
  color: rgb(230, 255, 4);
  font-family: "w3-container w3-cursive";
  text-align: center;
}

.customInput {
  width:200px;
  height:30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color:transparent;
  font-size: 20px;
  outline:none;
  color:rgb(253, 6, 6);
  font-family:"w3-container w3-cursive";
  text-align: center;
}

.customInputM {
  width:200px;
  height:30px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 5px;
  background-color:transparent;
  font-size: 20px;
  outline:none;
  color:rgb(248, 3, 3);
  font-family: "w3-container w3-cursive";
  text-align: center;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(248, 4, 4);
  opacity: 1; /* Firefox */
}

.customButton {
  width:180px;
  height:50px;
  background-color: #3e09ff;
  border: 3px solid rgb(3, 196, 255);
  color: rgb(255, 255, 255);
  font-weight:bold;
  border-radius: 10px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "w3-container w3-cursive";
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
.smallcustomButton {
  width:10px;
  height:10px;
  background-color: #88ff00;
  border: 3px solid rgb(253, 3, 3);
  color: #FFFF;
  font-weight:bold;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:"w3-container w3-cursive";
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
